{% extends 'users/layout.html' %}
{% load static %}
{% block extra_css %}
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

{% endblock %}
{% block title %}
    customer
{% endblock %}
{% block body %}
  <section class="content">
        <div class="container-fluid">
       <!-- Exportable Table -->
 <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               Customer List
                            </h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                          <th>Name</th>
                                          <th>Company Name</th>
                                          <th>GST No.</th>
                                          <th>Gender</th>
                                          <th>Phone</th>
                                          <th>Email </th>
                                          <th>Address</th>
                                          <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                          <th>Name</th>
                                          <th>Company Name</th>
                                          <th>GST No.</th>
                                          <th>Gender</th>
                                          <th>Phone</th>
                                          <th>Email </th>
                                          <th>Address</th>
                                          <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for cus in customer %}
                       <tr>
                           <td> {{ cus.id }}</td>
                           <td>{{ cus.first_name }} {{ cus.last_name }}</td>
                           <td>{{ cus.company_name }}</td>
                           <td>{{ cus.gst }}</td>
                           <td>{{ cus.gender }}</td>
                           <td>{{ cus.phone }}</td>
                           <td>{{ cus.email }}</td>
                           <td>{{ cus.flat_no }} {{ cus.st_name }} <br>{{ cus.area }} {{ cus.city }} <br>{{ cus.state }} {{ cus.country }} <br> {{ cus.pincode }}</td>

                           <td><a class="btn btn-info btn-sm" href="{% url 'customer-update' cus.id %}">
                                  <i class="fas fa-pencil-alt">
                                  </i>
                                  Edit
                              </a>
                               <a class="btn btn-success btn-sm" href="{% url 'customer-detail' cus.id %}">
                                  <i class="fas fa-file-archive">
                                  </i>
                                  Detail
                              </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'customer-delete' cus.id %}">
                                     <i class="fas fa-trash">
                                  </i>
                                  Delete
                              </a>
                           </td>

                       </tr>
                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
       </div>
    </section>
{% endblock %}

{% block extra_js %}

{% endblock %}