{% extends 'users/layout.html' %}
{% load static %}
{% block extra_css %}
    <!-- JQuery DataTable Css -->
    <link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">

{% endblock %}
{% block title %}
    product
{% endblock %}
{% block body %}
  <section class="content">
        <div class="container-fluid">
       <!-- Exportable Table -->
 <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Product List
                            </h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Model No.</th>
                                             <th>Product Comapny Name</th>
                                            <th>Quantity</th>
                                            <th>Image</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                           <th>Name</th>
                                            <th>Model No.</th>
                                            <th>Product Comapny Name</th>
                                            <th>Quantity</th>
                                            <th>Image</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for cate in products %}
                       <tr>
                       <td> {{ cate.id }}</td>
                       <td>{{ cate.name }}</td>
                       <td>#PR{{ cate.model_no}}</td>

                           <td>{{ cate.product_comp_name }}</td>
                           <td>{{ cate.quantity }}</td>

                           <td>
                               <ul class="list-inline">
                              <li class="list-inline-item" size="1px">
                                  <img  alt="Avatar" class="table-avatar" src="{{ cate.pic1.url }}" style="height: 50px;width: 50px;" >
                              </li>
                          </ul>
                           </td>
                       <td><a class="btn btn-info btn-xs" href="{% url 'product-update' cate.id %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                           <a class="btn btn-success btn-xs" href="{% url 'product-detail' cate.id %}">
                              <i class="fas fa-file-archive">
                              </i>
                              Detail
                          </a>
                        <a class="btn btn-danger btn-xs" href="{% url 'product-delete' cate.id %}">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                       </td>
                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
       </div>
    </section>
{% endblock %}

{% block extra_js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <script src="{% static 'js/pages/tables/jquery-datatable.js' %}"></script>
{% endblock %}